* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cards {
  margin: auto;
  max-width: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 10;
}

.card:hover {
  background-color: rgb(45, 164, 145);
  cursor: pointer;
}
